[Unit]
Description=EMGD Graphics Driver Setup
Before=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/emgd-bin.init start

[Install]
WantedBy=multi-user.target
