[Unit]
Description=EMGD Graphics Driver Setup
DefaultDependencies=no
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/emgd-bin.init start

[Install]
WantedBy=basic.target
